@media screen and (max-width:575px){
    .qty{
        margin-left:160px;
    }
    .qty .plus {
        cursor: pointer;
        display: inline-block;
        vertical-align: center;
        color: white;
        width: 20px;
        height: 20px;
        font: 20px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 40%;

        }
    
    .qty .minus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: white;
        width: 20px;
        height: 20px;
        font: 20px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 40%;
        background-clip: padding-box;
    }
    .qty .count {
        color: #000;
        vertical-align: top;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        padding: 0 2px;
        min-width: 35px;
        text-align: center;   
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .qty{
        margin-left:147px;
        margin-top: 5px;
    }
    .qty .plus {
        cursor: pointer;
        display: inline-block;
        vertical-align: center;
        color: white;
        width: 20px;
        height: 20px;
        font: 20px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 40%;
        
        }
    
    .qty .minus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: white;
        width: 20px;
        height: 20px;
        font: 20px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 40%;
        background-clip: padding-box;
    }
    .qty .count {
        color: #000;
        vertical-align: top;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        padding: 0 2px;
        min-width: 35px;
        text-align: center;   
    }
    
}
@media screen and (min-width: 767px) and (max-width:991px){
    .qty .plus {
        cursor: pointer;
        display: inline-block;
        
        color: white;
        width: 20px;
        height: 20px;
        font: 15px/1 Arial,sans-serif;
        padding-top: 3%;
        border-radius: 40%;
        
        }
    .qty .minus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: white;
        width: 20px;
        height: 20px;
        font: 15px/1 Arial,sans-serif;
        padding-top: 3%;
        border-radius:40%;
        background-clip: padding-box;
    }
    .qty .count {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        padding: 0 2px;
        min-width: 35px;
        text-align: center;   
    }
    #Cname{
        font-size: 12px;
        font-weight: bold;
    }
    #Cprice{
        font-size: 12px;
        font-weight: bold;
    }
}

@media screen and (min-width:991px){
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: center;
    color: white;
    width: 20px;
    height: 20px;
    font: 20px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 40%;
    
    }

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    font: 20px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 40%;
    background-clip: padding-box;
}
.qty .count {
    color: #000;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;   
}
}


#Cname{
    font-weight: 600;
}
#Cbtn{
    transition: transform 0.6s ease;
}
#Cbtn:hover{
    transform: scale(1.2);
}




div {
    text-align: center;
}
.minus:hover{
    background-color: #332D2D !important;
}
.plus:hover{
    background-color: #332D2D !important;
}


input{  
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
#opimgs{
    width: 50px;
    margin: 2%;
}
#opcolor{
    width: 40px;
    height: 20px;
}